<h1> Add Recipe </h1>

<form method="POST" action="/recipe/add">

    <div class="form-group">
        <label>Title</label>
        <input type="text" name="title" class="form-control">
    </div>

    <div class="form-group">
        <label>Author</label>
        <input type="text" name="author" class="form-control">
    </div>
    
    <div class="form-group">
        <label>Instructions</label>
        <input type="text" name="instructions" class="form-control">
    </div>

    <div class="form-group">
        <label>Ingredients</label>
        <select name="ingredient[]" multiple="multiple" class="form-control">
            <% ingredients.forEach(function(ingredient){ %>
                <option value="<%= ingredient._id %>"><%= ingredient.name %></option>
           
            <% }) %>
        </select>    
    </div>

    <br>
    <button type="submit" class="btn btn-primary">Create Recipe</button>

</form>