body{
    background-size: 100%;
    background-repeat: no-repeat;

    color: white;
    
}
body * {
    border-radius: 20px;
}
main{
    position: fixed;
    top: 40%;
    left: 40%; 
}
.date{
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
}
.weather{
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: black;
    opacity: 80%;
    padding: 0;
}
.quote{
    position: relative;
    text-align: center; 
     
}
.gt{
    text-align: center;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.2);
}