<h1>Create Skill</h1>

<form method="POST" action="/skills/skill">

    <label>Skill</label><br>
    <input type="text" name="skill" id="skill">

    <br>

  
    <input type="submit" name="submit">
</form>
