<h1>Edit Skill</h1>

<form method="POST" action="/skills/update">

    <label>Skill</label> <br>
    <input type="text" name="skill" id="skill" value="<%= data %>"><br>

    <br>
    
    <!-- <input type="hidden" name="id" value="<%= id %>"> -->

    <input type="submit" name="submit">

</form>